@media (max-width: 1270px) {
  .content-list {
    grid-template-columns: minmax(auto, 31.3%) minmax(auto, 31.3%) minmax(auto, 31.3%);
  }
}

@media (max-width: 876px) {
  .content-list {
    grid-template-columns: minmax(auto, 48%) minmax(auto, 48%);
    margin-bottom: 36px;
  }
}

@media (max-width: 750px) {
  .content-box {
    min-height: 180px;
  }
}

@media (max-width: 500px) {
  .content-pictures {
    padding-right: 15px;
    padding-left: 15px;
  }

  .content-picture {
    padding: 0;
  }
}

@media (max-width: 440px) {
  .site-high {
    &__container {
      padding-right: 12px;
      padding-left: 12px;
    }

    &__title {
      font-size: 24px;
      line-height: 100%;
    }

    &__button {
      padding: 21px 34px;
      font-size: $primaryFontSize;
      line-height: 100%;
    }
  }

  .content-list {
    margin-bottom: 30px;
    gap: 16px;
  }

  .content-article {
    padding-bottom: 16px;
    width: 100%;
    min-height: 262px;
  }

  .content-rating {
    left: 35px;
    top: 16px;
    font-size: $thirdFontSize;

    &::before {
      left: -19px;
      background-size: 13px 12px;
    }
  }

  .content-title {
    font-size: $primaryFontSize;
    line-height: 130%;
  }

  .content-box {
    padding-right: 16px;
    padding-left: 16px;
    min-height: 156px;
  }

  .content-pictures {
    padding-right: 20px;
    padding-left: 20px;
  }

  .content-picture {
    padding: 0;

    &_one {
      margin-bottom: 20px;
    }

    &_four {
      margin-bottom: 11px;
    }

    &_eight {
      margin-bottom: 6px;
    }

    &_eleven {
      margin-bottom: 6px;
    }

    &_thirteen {
      margin-bottom: 7px;
    }

    &_sixteen {
      margin-bottom: 15px;
    }

    &_eighteen {
      margin-bottom: 6px;
    }
  }

  .content-button {
    padding: 10px 22px;
  }

  .content-price {
    font-size: $primaryFontSize;
    line-height: 130%;
  }
}
