.content-article {
  padding-right: 20px;
  padding-left: 20px;
}

.product-breadcrumb {
  margin-bottom: 15px;
  padding-top: 23px;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding-right: 5px;
    font-weight: $regularFontWeight;
    font-size: $fourthFontSize;
    line-height: 100%;
    color: $ninthColor;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 0;
      top: 3px;
      bottom: 0;
      width: 1px;
      height: 10px;
      background-color: $ninthColor;
      transform: rotate(15deg);
    }

    &_active {
      color: $primaryShadeColor;
    }
  }

  &__link {
    position: relative;
    outline: none;
    text-decoration: none;
    color: $ninthColor;
    transition: color 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: -5px;
      right: -5px;
      top: -5px;
      bottom: -5px;
      z-index: -1;
      background-color: $primaryLightColor;
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }

    &.focus-visible::before {
      opacity: 1;
      transform: scaleX(1);
    }

    &.focus-visible {
      color: $primaryShadeColor;
    }

    &:hover {
      color: $primaryColor;
    }

    &:active {
      color: $primaryShadeColor;
    }
  }
}

.left-sliderOne__slide,
.left-sliderTwo__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: transparent;
  padding: 0;
  font-size: 18px;
  text-align: center;
  background: #fff;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.left-sliderOne__slide img,
.left-sliderTwo__slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-sliderOne,
.left-sliderTwo {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.left-sliderOne {
  width: 100%;
  height: 276px;
}

.left-sliderTwo {
  margin-bottom: 32px;
  box-sizing: border-box;
}

.left-sliderTwo .left-sliderTwo__slide {
  width: 25%;
  min-height: 81px;
  background-color: $seventhColor;
}

.card-product {
  &__separation {
    display: flex;
  }

  &__left {
    margin-right: 30px;
    width: 49%;
  }
}

.product-left {
  &__content {
    display: none;
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $eleventhColor;
  }

  &__desc {
    margin: 0;
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: $eleventhColor;
  }

  &__subdesc {
    margin: 0;
    margin-bottom: 105px;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: $eleventhColor;
  }

  &__schemes {
    display: flex;
  }

  &__picture {
    &_one {
      margin-right: 32px;
    }
  }
}

.product-content {
  &_mobile {
    display: none;
  }

  &__rating {
    position: relative;
    left: 21px;
    top: 0;
    display: block;
    margin-bottom: 2px;

    &::before {
      left: -22px;
      top: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 3px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: $eleventhColor;
  }

  &__information {
    display: block;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $ninthColor;
  }

  &__price {
    display: block;
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: $eleventhColor;
  }

  &__button {
    margin-bottom: 16px;
    outline: none;
    padding: 16px 33px;
  }

  &__basket {
    margin-bottom: 111px;
    outline: none;
    border: transparent;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $primaryColor;
    background-color: transparent;
    transform: translateX(30px);
    transition: color 0.3s ease-in-out;
    cursor: pointer;

    &.focus-visible {
      color: $primaryLightColor;
    }

    &:hover {
      color: $primaryLightColor;
    }

    &:active {
      color: $primaryShadeColor;
    }
  }
}

.left-schemes {
  margin-bottom: 81px;

  &__picture {
    &_one {
      margin-right: 32px;
    }
  }
}

.product-right {
  position: relative;
  width: 50%;
  transform: translateY(32px);

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  &__item {
    display: flex;
  }

  &__specifications {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 0;
    padding-right: 4px;
    width: 52%;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    white-space: nowrap;
    color: $ninthColor;
    background: inherit;

    &::after {
      content: "";
      position: relative;
      left: 0;
      right: 0;
      display: block;
      margin-top: 1.2em;
      width: 100%;
      height: 1px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAAAAAA+i0toAAAAAnRSTlMA/1uRIrUAAAAMSURBVHheY7j1/z8ABY8C2UtBe8oAAAAASUVORK5CYII=") 0 0 repeat-x;
      background-repeat: repeat-x;
    }
  }

  &__data {
    width: 50%;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: $eleventhColor;
  }
}

.product-bottom {
  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  &__item {
    border-radius: 10px;
    width: 23%;
    background-color: $seventhColor;
  }

  &__slider {
    margin-bottom: 70px;
  }
}

.bottom-content {
  &__title {
    margin: 0;
    max-width: 250px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: $eleventhColor;
  }

  &__subname {
    display: flex;
  }

  &__box {
    padding-right: 6px;
    padding-left: 6px;
  }

  &__pictures {
    padding: 0;
  }

  &__picture {
    &_eleven {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__next {
    position: relative;
    right: 0;
    top: 20%;
  }

  &__prev {
    position: relative;
    left: -45px;
    top: 38%;
    transform: rotate(180deg);
  }
}

.bottom-flex {
  &__title {
    margin: 0;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: $eleventhColor;
  }

  &__buttons {
    position: relative;
  }
}

.bottom-buttons {
  position: relative;

  &_mobile {
    display: none;
  }

  &__prev {
    position: relative;
    left: auto;
    right: 46px;
    top: 18px;
    transform: rotate(180deg);
  }

  &__next {
    position: relative;
    right: 0;
    top: 9px;
  }
}

#buy-product-dialog-window {
  position: fixed;
  z-index: 300;
  display: none;
  align-items: center;
  padding-right: 12px;
  padding-left: 12px;
  width: 100%;
  inset: 0;
}

#buy-product-dialog-window.ui-focus-trap-active {
  display: flex;
  padding: 0;
  animation: fade-in-from-none 0.3s ease-in-out forwards;
}

.product-window {
  &__overlay {
    position: fixed;
    background-color: $eleventhColor;
    opacity: 0.3;
    cursor: pointer;
    inset: 0;
  }

  &__content {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
    max-width: 564px;
    background-color: hsl(0deg, 0%, 100%);
    cursor: auto;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    outline: none;
    border: transparent;
    background-color: transparent;
    transition: fill 0.3s ease-in-out;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: -5px;
      right: -5px;
      top: -5px;
      bottom: -5px;
      z-index: -1;
      background-color: $secondColor;
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }

    &.focus-visible::before {
      opacity: 1;
      transform: scaleX(1);
    }

    &.focus-visible svg {
      fill: $primaryShadeColor;
    }

    &:hover {
      fill: $primaryColor;
    }

    &:active {
      fill: $primaryShadeColor;
    }
  }

  &__icon {
    position: absolute;
    right: 20px;
    top: 20px;
    outline: none;
    fill: $ninthColor;
    transition: fill 0.3s ease-in-out;

    &.focus-visible {
      fill: $primaryShadeColor;
    }

    &:hover {
      fill: $primaryColor;
    }

    &:active {
      fill: $primaryShadeColor;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: $regularFontWeight;
    font-size: $eighthFontSize;
    line-height: 100%;
    color: $eleventhColor;
  }

  &__description {
    margin: 0;
    margin-bottom: 30px;
    font-weight: $regularFontWeight;
    font-size: $fourthFontSize;
    line-height: 19px;
    color: $eleventhColor;
  }

  &__button {
    margin-bottom: 12px;
    outline: none;
    padding: 19px 35px;
    font-weight: $semiboldFontWeight;
    font-size: $primaryFontSize;
    line-height: 100%;
  }

  &__inner {
    height: 82px;
  }

  &__field {
    margin-bottom: 30px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    padding-left: 18px;
    width: 92%;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: $ninthColor;
    background-color: $seventhColor;
    transition: background-color 0.3s, border-color 0.3s ease-in-out;

    &.focus-visible {
      border-color: $primaryColor;
      background-color: $secondLightColor;
    }

    &:hover {
      background-color: $eighthColor;
    }
  }
}

.window-checkbox {
  position: relative;
  height: 20px;

  &__field {
    position: absolute;
    clip-path: inset(100%);
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);

    &:checked + .window-checkbox__text::before {
      border-color: $primaryColor;
      background-image: url("../img/svg/home-data-check.svg");
      background-color: $primaryColor;
    }

    &.focus-visible + .window-checkbox__text {
      outline-color: $primaryColor;
    }
  }

  &__text {
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-left: 22px;
    transition: color 0.3s, outline-color 0.3s ease-in-out;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      display: inline-block;
      border: 1px solid $ninthColor;
      border-radius: 2px;
      width: 14px;
      height: 14px;
      background-position: center;
      background-size: 12px 12px;
      background-repeat: no-repeat;
      transform: translateY(-50%);
      transition-property: border-color, background-color;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
  }

  &__link {
    outline: none;
    text-decoration: none;
    color: $primaryColor;
    transition: color 0.3s ease-in-out;

    &.focus-visible {
      color: $primaryLightColor;
    }

    &:hover {
      color: $primaryLightColor;
    }

    &:active {
      color: $primaryShadeColor;
    }
  }
}

.dialog-window {
  position: fixed;
  z-index: 300;
  display: none;
  padding-right: 12px;
  padding-left: 12px;
  inset: 0;

  &.dialog-visible {
    display: flex;
    animation: fade-in-from-none 0.3s ease-in-out forwards;

    .dialog-window__content {
      z-index: 301;
      animation: slide-up-from-none 0.3s ease-in-out;
    }
  }

  &__overlay {
    position: fixed;
    z-index: 300;
    background-color: $eleventhColor;
    opacity: 0.3;
    cursor: pointer;
    inset: 0;
  }

  &__image {
    margin-bottom: 32px;
  }

  &__title {
    font-weight: $regularFontWeight;
    font-size: $eighthFontSize;
    line-height: 100%;
    color: $eleventhColor;
  }

  &__content {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    margin: auto;
    border-radius: 10px;
    width: 624px;
    min-height: 422px;
    background-color: hsl(0deg, 0%, 100%);
    cursor: auto;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    outline: none;
    transition: fill 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: -5px;
      right: -5px;
      top: -5px;
      bottom: -5px;
      z-index: -1;
      background-color: $secondColor;
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }

    &.focus-visible::before {
      opacity: 1;
      transform: scaleX(1);
    }

    &.focus-visible svg {
      fill: $primaryShadeColor;
    }
  }

  &__icon {
    fill: $ninthColor;
    transition: fill 0.3s ease-in-out;

    &:hover {
      fill: $primaryColor;
    }

    &:active {
      fill: $primaryShadeColor;
    }
  }
}

@keyframes fade-in-from-none {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-from-block {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-up-from-none {
  0% {
    transform: translateY(20%);
  }
}

@keyframes slide-up-from-block {
  100% {
    transform: translateY(-20%);
  }
}

.just-validate-error-label {
  position: relative;
  top: -30px;
  padding-left: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

#slider-dialog-window {
  position: fixed;
  z-index: 300;
  display: none;
  align-items: center;
  padding-right: 12px;
  padding-left: 12px;
  width: 100%;
  inset: 0;
}

#slider-dialog-window.ui-focus-trap-active {
  display: flex;
  padding: 0;
  animation: fade-in-from-none 0.3s ease-in-out forwards;
}

.slider-window {
  &__overlay {
    position: fixed;
    background-color: $eleventhColor;
    opacity: 0.3;
    cursor: pointer;
    inset: 0;
  }

  &__content {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    margin: auto;
    border-radius: 10px;
    padding-top: 50px;
    max-width: 1280px;
    max-height: 684px;
    background-color: hsl(0deg, 0%, 100%);
    cursor: auto;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 166px;
      background-color: $seventhColor;
    }
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    outline: none;
    border: transparent;
    background-color: transparent;
    transition: fill 0.3s ease-in-out;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: -5px;
      right: -5px;
      top: -5px;
      bottom: -5px;
      z-index: -1;
      background-color: $secondColor;
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }

    &.focus-visible::before {
      opacity: 1;
      transform: scaleX(1);
    }

    &.focus-visible svg {
      fill: $primaryShadeColor;
    }

    &:hover {
      fill: $primaryColor;
    }

    &:active {
      fill: $primaryShadeColor;
    }
  }
}

.window-sliderOne__slide,
.window-sliderTwo__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  font-size: 18px;
  text-align: center;
  background: #fff;
  background-position: center;
  background-size: cover;
}

.window-sliderOne__slide img,
.window-sliderTwo__slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.window-sliderOne,
.window-sliderTwo {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.window-sliderOne {
  width: 100%;

  &__pictures {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.window-sliderTwo {
  display: flex;
  align-items: center;
  min-height: 166px;
  box-sizing: border-box;

  &__pictures {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.sliderTwo-prev {
  left: 32px;
  top: auto;
  bottom: 70px;
  display: none;
  transform: rotate(180deg);
}

.sliderTwo-next {
  top: auto;
  bottom: 70px;
  display: none;
}

.window-sliderTwo .window-sliderTwo__slide {
  width: 25%;
  min-height: 81px;
  background-color: $seventhColor;
}
