<section class="card-product">
  <div class="container">
    <nav aria-label="Хлебные крошки" class="product-breadcrumb card-product__breadcrumb">
      <ul class="product-breadcrumb__list">
          <li class="product-breadcrumb__item"><a class="product-breadcrumb__link" href="index.html">Главная</a></li>
          <li class="product-breadcrumb__item"><a class="product-breadcrumb__link" href="catalog.html">Каталог</a></li>
          <li class="product-breadcrumb__item"><a class="product-breadcrumb__link" href="catalog.html">Диваны</a></li>
          <li class="product-breadcrumb__item"><a class="product-breadcrumb__link" href="catalog.html">Прямые диваны</a></li>
          <li class="product-breadcrumb__item product-breadcrumb__item_active"><a aria-current="page">D-31</a></li>
      </ul>
    </nav>
  </div>
  <div class="container card-product_ _container">
    <div class="card-product__separation">
      <div class="product-left card-product__left">
        <div class="swiper left-sliderOne product-left__sliderOne">
        <div class="swiper-wrapper left-sliderOne__wrap">
          <button class="swiper-slide left-sliderOne__slide">
            <picture class="left-sliderOne__pictures">
              <source srcset="img/pictures/card-oneSwiper-one320.webp" type="image/webp" media="(max-width: 500px)">
              <source srcset="img/pictures/card-oneSwiper-one320.png" media="(max-width: 500px)">
              <source srcset="img/pictures/card-oneSwiper-one.webp" type="image/webp">
              <source srcset="img/pictures/card-oneSwiper-one.png">
              <img class="left-sliderOne__picture" src="img/pictures/card-oneSwiper-one.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
            </picture>
          </button>
          <button class="swiper-slide left-sliderOne__slide">
            <picture class="left-sliderOne__pictures">
              <source srcset="img/pictures/card-oneSwiper-two320.webp" type="image/webp" media="(max-width: 500px)">
              <source srcset="img/pictures/card-oneSwiper-two320.png" media="(max-width: 500px)">
              <source srcset="img/pictures/card-oneSwiper-two.webp" type="image/webp">
              <source srcset="img/pictures/card-oneSwiper-two.png">
              <img class="left-sliderOne__picture" src="img/pictures/card-oneSwiper-two.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
            </picture>
          </button>
          <button class="swiper-slide left-sliderOne__slide">
            <picture class="left-sliderOne__pictures">
              <source srcset="img/pictures/card-oneSwiper-three320.webp" type="image/webp" media="(max-width: 500px)">
              <source srcset="img/pictures/card-oneSwiper-three320.png" media="(max-width: 500px)">
              <source srcset="img/pictures/card-oneSwiper-three.webp" type="image/webp">
              <source srcset="img/pictures/card-oneSwiper-three.png">
              <img class="left-sliderOne__picture left-sliderOne__picture_three" src="img/pictures/card-oneSwiper-three.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
            </picture>
          </button>
          <button class="swiper-slide left-sliderOne__slide">
            <picture class="left-sliderOne__pictures">
              <source srcset="img/pictures/card-oneSwiper-four320.webp" type="image/webp" media="(max-width: 500px)">
              <source srcset="img/pictures/card-oneSwiper-four320.png" media="(max-width: 500px)">
              <source srcset="img/pictures/card-oneSwiper-four.webp" type="image/webp">
              <source srcset="img/pictures/card-oneSwiper-four.png">
              <img class="left-sliderOne__picture" src="img/pictures/card-oneSwiper-four.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
            </picture>
          </button>
          <button class="swiper-slide left-sliderOne__slide">
            <picture class="left-sliderOne__pictures">
              <source srcset="img/pictures/card-oneSwiper-five320.webp" type="image/webp" media="(max-width: 500px)">
              <source srcset="img/pictures/card-oneSwiper-five320.png" media="(max-width: 500px)">
              <source srcset="img/pictures/card-oneSwiper-five.webp" type="image/webp">
              <source srcset="img/pictures/card-oneSwiper-five.png">
              <img class="left-sliderOne__picture" src="img/pictures/card-oneSwiper-five.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
            </picture>
          </button>
        </div>
      </div>
      <div class="swiper left-sliderTwo product-left__sliderTwo">
        <div class="swiper-wrapper left-sliderTwo__wrap">
          <div class="swiper-slide left-sliderTwo__slide">
            <picture class="left-sliderTwo__pictures">
              <source srcset="img/pictures/card-twoSwiper-two.webp" type="image/webp">
              <source srcset="img/pictures/card-twoSwiper-two.png">
              <img class="left-sliderTwo__picture" src="img/pictures/card-twoSwiper-two.png" alt="На картинке изображен тканевый прямой диван “D-31”" width="125" height="61" loading="lazy">
            </picture>
          </div>
          <div class="swiper-slide left-sliderTwo__slide">
            <picture class="left-sliderTwo__pictures">
              <source srcset="img/pictures/card-twoSwiper-three.webp" type="image/webp">
              <source srcset="img/pictures/card-twoSwiper-three.png">
              <img class="left-sliderTwo__picture" src="img/pictures/card-twoSwiper-three.png" alt="На картинке изображен тканевый прямой диван “D-31”" width="123" height="61" loading="lazy">
            </picture>
          </div>
          <div class="swiper-slide left-sliderTwo__slide">
            <picture class="left-sliderTwo__pictures">
              <source srcset="img/pictures/card-twoSwiper-four.webp" type="image/webp">
              <source srcset="img/pictures/card-twoSwiper-four.png">
              <img class="left-sliderTwo__picture" src="img/pictures/card-twoSwiper-four.png" alt="На картинке изображен тканевый прямой диван “D-31”" width="66" height="61" loading="lazy">
            </picture>
          </div>
          <div class="swiper-slide left-sliderTwo__slide">
            <picture class="left-sliderTwo__pictures">
              <source srcset="img/pictures/card-twoSwiper-five.webp" type="image/webp">
              <source srcset="img/pictures/card-twoSwiper-five.png">
              <img class="left-sliderTwo__picture" src="img/pictures/card-twoSwiper-five.png" alt="На картинке изображен тканевый прямой диван “D-31”" width="134" height="61" loading="lazy">
            </picture>
          </div>
          <div class="swiper-slide left-sliderTwo__slide">
            <picture class="left-sliderTwo__pictures">
              <source srcset="img/pictures/card-twoSwiper-one.webp" type="image/webp">
              <source srcset="img/pictures/card-twoSwiper-one.png">
              <img class="left-sliderTwo__picture" src="img/pictures/card-twoSwiper-one.png" alt="На картинке изображен тканевый прямой диван “D-31”" width="137" height="61" loading="lazy">
            </picture>
          </div>
        </div>
        </div>
        <div class="product-content product-content_mobile">
          <span class="product-content__rating">
            4.8
          </span>
          <h2 class="product-content__title">
            Диван тканевый прямой “D-31”
          </h2>
          <span class="product-content__information">
            Мини 120 см без ящика Stark синий (Рогожка)
          </span>
          <span class="product-content__price">
            28 490 руб
          </span>
          <button class="button-primary product-content__button">
            Купить в один клик
          </button>
          <button class="product-content__basket">
            + Добавить в корзину
          </button>
        </div>
        <h3 class="product-left__title">
          Опорный механизм
        </h3>
        <p class="product-left__desc">
          Опорный механизм напоминает пантограф, к&nbsp;которому добавили дополнительную секцию. У&nbsp;опорного дивана сиденье &laquo;выпрыгивает&raquo; вперёд и&nbsp;вытаскивает вторую часть спального места. Заключительный штрих&nbsp;&mdash; опустить спинку.
        </p>
        <p class="product-left__subdesc">
          Этот механизм не&nbsp;портит пол и&nbsp;не&nbsp;боится ковров. Требуется чуть больше силы, чтобы разложить диван, но&nbsp;подросток справится.
        </p>
        <div class="left-schemes product-left__schemes">
          <picture class="left-schemes__pictures">
            <source srcset="img/pictures/card-scheme-one.webp" type="image/webp">
            <source srcset="img/pictures/card-scheme-one.png">
            <img class="left-schemes__picture left-schemes__picture_one" src="img/pictures/card-scheme-one.png" alt="На картинке изображена схема прямого дивана “D-31”" width="247" height="113" loading="lazy">
          </picture>
          <picture class="left-schemes__pictures">
            <source srcset="img/pictures/card-scheme-two.webp" type="image/webp">
            <source srcset="img/pictures/card-scheme-two.png">
            <img class="left-schemes__picture left-schemes__picture_two" src="img/pictures/card-scheme-two.png" alt="На картинке изображена схема прямого дивана “D-31”" width="247" height="113" loading="lazy">
          </picture>
        </div>
      </div>
      <div class="product-right card-product__right">
        <div class="product-content">
          <span class="content-rating product-content__rating">
            4.8
          </span>
          <h2 class="product-content__title">
            Диван тканевый прямой “D-31”
          </h2>
          <span class="product-content__information">
            Мини 120 см без ящика Stark синий (Рогожка)
          </span>
          <span class="product-content__price">
            28 490 руб
          </span>
          <button class="button-primary product-content__button">
            Купить в один клик
          </button>
          <button class="product-content__basket">
            + Добавить в корзину
          </button>
        </div>
        <ul class="product-right__list">
          <li class="product-right__item">
            <span class="product-right__specifications">
              Гарантия
            </span>
            <span class="product-right__data">
              18 месяцев
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Артикул
            </span>
            <span class="product-right__data">
              AAA41269004
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Длина
            </span>
            <span class="product-right__data">
              163 см
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Высота
            </span>
            <span class="product-right__data">
              90 см
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Глубина
            </span>
            <span class="product-right__data">
              108 см
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Спальное место
            </span>
            <span class="product-right__data">
              200 см х 125 см
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Высота посадки
            </span>
            <span class="product-right__data">
              45 см
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Механизм
            </span>
            <span class="product-right__data">
              Опорный
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Тип обивки
            </span>
            <span class="product-right__data">
              Рогожка
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Цвет
            </span>
            <span class="product-right__data">
              Синий
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Наполнитель
            </span>
            <span class="product-right__data">
              Независимый пружинный блок
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Материал каркаса
            </span>
            <span class="product-right__data">
              Металл. рама с дерев. латами
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Количество мест
            </span>
            <span class="product-right__data">
              Двухместные
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Категория
            </span>
            <span class="product-right__data">
              Прямые тканевые диваны
            </span>
          </li>
          <li class="product-right__item">
            <span class="product-right__specifications">
              Возврат
            </span>
            <span class="product-right__data">
              Условия
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-bottom card-product__bottom">
      <div class="bottom-flex product-bottom__flex">
        <h2 class="bottom-flex__title">
          Похожие товары
        </h2>
        <div class="bottom-buttons">
          <div class="swiper-button-prev btnNext bottom-buttons__prev"></div>
          <div class="swiper-button-next btnNext bottom-buttons__next"></div>
        </div>
      </div>
      <div class="swiper product-bottom__slider">
        <ul class="swiper-wrapper product-bottom__list">
          <li class="swiper-slide product-bottom__item">
            <article class="content-article">
              <span class="content-rating">4,5</span>
              <picture class="content-pictures">
                <source srcset="img/pictures/catalog-catalog-sixteen-320.webp" type="image/webp" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-sixteen-320.png" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-sixteen.webp" type="image/webp">
                <source srcset="img/pictures/catalog-catalog-sixteen.png">
                <img class="content-picture content-picture_sixteen" src="img/pictures/catalog-catalog-sixteen.png" alt="На картинке изображен велюровый диван “R-85”" height="105" loading="lazy">
              </picture>
              <div class="content-box">
                <h3 class="content-title">
                  <span class="content-name">Диван велюровый</span><span class="content-subname">“R-85”</span>
                </h3>
                <span class="content-price content-price">
                  34&nbsp;990 руб
                </span>
                <button class="content-button button-border content-button">
                  Купить
                </button>
              </div>
            </article>
          </li>
          <li class="swiper-slide content-item product-bottom__item">
            <article class="content-article">
              <span class="content-rating">4,6</span>
              <picture class="content-pictures">
                <source srcset="img/pictures/catalog-catalog-eleven-320.webp" type="image/webp" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-eleven-320.png" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-eleven.webp" type="image/webp">
                <source srcset="img/pictures/catalog-catalog-eleven.png">
                <img class="content-picture content-picture_eleven" src="img/pictures/catalog-catalog-eleven.png" alt="На картинке изображен флоковый диван “H-58”" height="133" loading="lazy">
              </picture>
              <div class="content-box">
                <h3 class="content-title">
                  <span class="content-name">Диван флоковый</span><span class="content-subname">“H-58”</span>
                </h3>
                <span class="content-price content-price">
                  23&nbsp;990 руб
                </span>
                <button class="content-button button-border content-button">
                  Купить
                </button>
              </div>
            </article>
          </li>
          <li class="swiper-slide content-item product-bottom__item">
            <article class="content-article">
              <span class="content-rating">4,5</span>
              <picture class="content-pictures">
                <source srcset="img/pictures/catalog-catalog-seventeen-320.webp" type="image/webp" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-seventeen-320.png" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-seventeen.webp" type="image/webp">
                <source srcset="img/pictures/catalog-catalog-seventeen.png">
                <img class="content-picture content-picture_seventeen" src="img/pictures/catalog-catalog-seventeen.png" alt="На картинке изображен велюровый диван “S-44”" height="105" loading="lazy">
              </picture>
              <div class="content-box">
                <h3 class="content-title">
                  <span class="content-name">Диван велюровый</span><span class="content-subname">“S-44”</span>
                </h3>
                <span class="content-price content-price">
                  19&nbsp;990 руб
                </span>
                <button class="content-button button-border content-button">
                  Купить
                </button>
              </div>
            </article>
          </li>
          <li class="swiper-slide content-item product-bottom__item">
            <article class="content-article">
              <span class="content-rating">4,8</span>
              <picture class="content-pictures">
                <source srcset="img/pictures/catalog-catalog-seven-320.webp" type="image/webp" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-seven-320.png" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-seven.webp" type="image/webp">
                <source srcset="img/pictures/catalog-catalog-seven.png">
                <img class="content-picture content-picture_seven" src="img/pictures/catalog-catalog-seven.png" alt="На картинке изображен шиниловый диван “V-43”" height="130" loading="lazy">
              </picture>
              <div class="content-box">
                <h3 class="content-title">
                  <span class="content-name">Диван шиниловый</span><span class="content-subname">“V-43”</span>
                </h3>
                <span class="content-price content-price">
                  19&nbsp;990 руб
                </span>
                <button class="content-button button-border content-button">
                  Купить
                </button>
              </div>
            </article>
          </li>
          <li class="swiper-slide content-item product-bottom__item">
            <article class="content-article">
              <span class="content-rating">5,0</span>
              <picture class="content-pictures">
                <source srcset="img/pictures/catalog-catalog-one-320.webp" type="image/webp" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-one-320.png" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-one.webp" type="image/webp">
                <source srcset="img/pictures/catalog-catalog-one.png">
                <img class="content-picture content-picture_one" src="img/pictures/catalog-catalog-one.png" alt="На картинке изображен кожаный диван “R-94”" height="82" loading="lazy">
              </picture>
              <div class="content-box">
                <h3 class="content-title">
                  <span class="content-name">Диван кожаный</span><span class="content-subname">“R-94”</span>
                </h3>
                <span class="content-price content-price">
                  94&nbsp;990 руб
                </span>
                <button class="content-button button-border content-button">
                  Купить
                </button>
              </div>
            </article>
          </li>
          <li class="swiper-slide content-item product-bottom__item">
            <article class="content-article">
              <span class="content-rating">4,9</span>
              <picture class="content-pictures">
                <source srcset="img/pictures/catalog-catalog-two-320.webp" type="image/webp" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-two-320.png" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-two.webp" type="image/webp">
                <source srcset="img/pictures/catalog-catalog-two.png">
                <img class="content-picture content-picture_two" src="img/pictures/catalog-catalog-two.png" alt="На картинке изображен апартековый диван “T-75”" height="101" loading="lazy">
              </picture>
              <div class="content-box">
                <h3 class="content-title">
                  <span class="content-name">Диван апартековый</span><span class="content-subname">“T-75”</span>
                </h3>
                <span class="content-price content-price">
                  69&nbsp;990 руб
                </span>
                <button class="content-button button-border content-button">
                  Купить
                </button>
              </div>
            </article>
          </li>
          <li class="swiper-slide content-item product-bottom__item">
            <article class="content-article">
              <span class="content-rating">4,8</span>
              <picture class="content-pictures">
                <source srcset="img/pictures/catalog-catalog-three-320.webp" type="image/webp" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-three-320.png" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-three.webp" type="image/webp">
                <source srcset="img/pictures/catalog-catalog-three.png">
                <img class="content-picture content-picture_three" src="img/pictures/catalog-catalog-three.png" alt="На картинке изображен тканевый диван “D-31”" height="103" loading="lazy">
              </picture>
              <div class="content-box">
                <h3 class="content-title">
                  <span class="content-name">Диван тканевый</span><span class="content-subname">“D-31”</span>
                </h3>
                <span class="content-price content-price">
                  28&nbsp;490 руб
                </span>
                <button class="content-button button-border content-button">
                  Купить
                </button>
              </div>
            </article>
          </li>
          <li class="swiper-slide content-item product-bottom__item">
            <article class="content-article">
              <span class="content-rating">4,8</span>
              <picture class="content-pictures">
                <source srcset="img/pictures/catalog-catalog-four-320.webp" type="image/webp" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-four-320.png" media="(max-width: 500px)">
                <source srcset="img/pictures/catalog-catalog-four.webp" type="image/webp">
                <source srcset="img/pictures/catalog-catalog-four.png">
                <img class="content-picture content-picture_four" src="img/pictures/catalog-catalog-four.png" alt="На картинке изображен велюровый диван “Y-68”" height="125" loading="lazy">
              </picture>
              <div class="content-box">
                <h3 class="content-title">
                  <span class="content-name">Диван велюровый</span><span class="content-subname">“Y-68”</span>
                </h3>
                <span class="content-price content-price">
                  22&nbsp;990 руб
                </span>
                <button class="content-button button-border content-button">
                  Купить
                </button>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom-buttons bottom-buttons_mobile">
      <div class="swiper-button-prev btnNext bottom-buttons__prev"></div>
      <div class="swiper-button-next btnNext bottom-buttons__next"></div>
    </div>
  </div>
</section>
