<section class="site-data">
  <div class="container site-data__container">
    <div class="site-data__left">
      <h2 class="title-primary site-data__title">
        Мы&nbsp;всегда вам рады!
      </h2>
      <div class="site-data__box">
        <p class="site-data__desc">
          Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения внутренних резервов и ресурсов.
          <button id="myButton" class="site-data__marker" aria-label="Всплывающее окно">
            <svg class="site-data__question" width="6" height="8" viewBox="0 0 6 8">
              <use xlink:href="img/sprites/sprite.svg#home-data-question"/>
            </svg>
          </button>
        </p>
      </div>
      <form class="site-data__form" id="contactsForm" name="form" method="get" action="#">
        <div class="site-data__validate">
          <input class="form-field site-data__name" id="name" name="name" type="text" placeholder="Как вас зовут?" aria-label="Поле для ввода имени">
        </div>
        <div class="site-data__validate">
          <input class="form-field site-data__tel" id="tel" name="tel" placeholder="Ваш телефон" aria-label="Поле для ввода номера телефона">
        </div>
        <div class="site-data__validate">
          <input class="form-field site-data__email" id="email" name="email" type="email" placeholder="Ваш e-mail" aria-label="Поле для ввода E-mail">
        </div>
        <button class="button-primary site-data__button" type="submit" id="my-dialog">Отправить</button>
        <div class="site-data__checkbox">
          <label class="site-data__label">
            <input class="site-data__input" type="checkbox" name="site-data__input" value="oneCheck" checked required>
            <span class="site-data__text">Принимаю&nbsp;</span>
            <a href="#" class="site-data__link">пользовательское соглашение</a>
          </label>
        </div>
      </form>
    </div>
    <div class="site-data__right"></div>
  </div>
</section>
