<footer class="site-footer">
  <div class="site-footer__top">
    <div class="container site-footer__container">
      <div class="footer-primary site-footer__primary">
        <a class="footer-primary__logo" href="index.html">
          <img class="footer-primary__picture" src="img/svg/logo.svg" alt="Логотип компании SitDownPls" width="187" height="27" loading="lazy">
        </a>
        <ul class="footer-primary__list">
          <li class="footer-primary__item">
            <a class="footer-primary__link footer-primary__link_fb" href="#">
              <svg class="footer-primary__vector" width="30" height="30" viewBox="0 0 30 30">
                <use xlink:href="img/sprites/sprite.svg#home-footer-fb"/>
              </svg>
            </a>
          </li>
          <li class="footer-primary__item">
            <a class="footer-primary__link footer-primary__link_vk" href="#">
              <svg class="footer-primary__vector" width="30" height="30" viewBox="0 0 30 30">
                <use xlink:href="img/sprites/sprite.svg#home-footer-vk"/>
              </svg>
            </a>
          </li>
          <li class="footer-primary__item">
            <a class="footer-primary__link footer-primary__link_inst" href="#">
              <svg class="footer-primary__vector" width="30" height="30" viewBox="0 0 30 30">
                <use xlink:href="img/sprites/sprite.svg#home-footer-inst"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="site-footer__indent">
        <div class="footer-about site-footer__about">
          <span class="footer-text footer-about__text">О&nbsp;нас</span>
          <ul class="footer-list footer-about__list">
            <li class="footer-item footer-about__item">
              <a class="footer-link footer-about__link" href="#">
                О&nbsp;компании
              </a>
            </li>
            <li class="footer-item footer-about__item">
              <a class="footer-link footer-about__link" href="#">
                Блог
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-services site-footer__services">
          <span class="footer-text footer-services__text">Услуги</span>
          <ul class="footer-list footer-services__list">
            <li class="footer-item footer-services__item">
              <a class="footer-link footer-services__link" href="#">
                Доставка
              </a>
            </li>
            <li class="footer-item footer-services__item">
              <a class="footer-link footer-services__link" href="#">
                Рассрочка и&nbsp;кредит
              </a>
            </li>
            <li class="footer-item footer-services__item">
              <a class="footer-link footer-services__link" href="#">
                Сборка и&nbsp;установка
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-connect site-footer__connect">
          <span class="footer-text footer-connect__text">Связь с&nbsp;нами</span>
          <ul class="footer-list footer-connect__list">
            <li class="footer-item footer-connect__item">
              <a class="footer-link footer-connect__link" href="#">
                Обратная связь
              </a>
            </li>
            <li class="footer-item footer-connect__item">
              <a class="footer-link footer-connect__link" href="#">
                Контакты
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-cooperation site-footer__cooperation">
          <span class="footer-text footer-cooperation__text">Сотрудничество</span>
          <ul class="footer-list footer-cooperation__list">
            <li class="footer-item footer-cooperation__item">
              <a class="footer-link footer-cooperation__link" href="cooperation.html">
                Поставщикам
              </a>
            </li>
            <li class="footer-item footer-cooperation__item">
              <a class="footer-link footer-cooperation__link" href="#">
                Оптовикам
              </a>
            </li>
            <li class="footer-item footer-cooperation__item">
              <a class="footer-link footer-cooperation__link" href="#">
                Карьера
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div class="footer-bottom site-footer__bottom">
      <div class="container footer-bottom__container">
        <span class="footer-bottom__copyright">
          SDP®&nbsp;&nbsp;&nbsp;2011-2021
        </span>
    </div>
  </div>
</footer>
