<header class="site-header">
  <div class="header-top site-header__top">
    <div class="container header-top__container">
      <a class="header-top__logo header-top__logo_mobile" href="index.html">
        <img class="header-top__picture" src="img/svg/logo.svg" alt="Логотип компании SitDownPls" width="187" height="27" loading="lazy">
      </a>
      <div class="header-top__info">
        <div class="header-top__city">
          <span class="header-top__region">Ваш регион:</span>
          <select class="header-top__select">
            <option value="one" selected>Москва</option>
            <option value="two">Казань</option>
            <option value="three">Уфа</option>
            <option value="four">Пермь</option>
          </select>
        </div>
        <a class="header-top__number" href="#">
          <svg class="header-top__call" width="22" height="22" viewBox="0 0 22 22">
            <use xlink:href="img/sprites/sprite.svg#home-header-call"/>
          </svg>
          +7 (495) 885-45-47
        </a>
      </div>
      <button class="burger-top header-top__burger header-top__burger_mobile header-top__burger_active" aria-label="Открыть основное навигационное меню">
        <span class="burger-top__line burger-top__line_first"></span>
        <span class="burger-top__line burger-top__line_second"></span>
        <span class="burger-top__line burger-top__line_third"></span>
        <span class="burger-top__line burger-top__line_fourth"></span>
      </button>
      <div class="header-top__group">
        <nav class="header-top__nav header-top__nav_desktop" aria-label="Дополнительная навигация">
          <ul class="header-top__list header-top__list_desktop">
            <li class="header-top__item">
              <a class="header-top__link" href="#">О&nbsp;компании</a>
            </li>
            <li class="header-top__item">
              <a class="header-top__link" href="#">Гарантия и&nbsp;возврат</a>
            </li>
            <li class="header-top__item">
              <a class="header-top__link" href="#">Корпоративным клиентам</a>
            </li>
            <li class="header-top__item">
              <a class="header-top__link" href="#">Дизайн-решение</a>
            </li>
          </ul>
        </nav>
        <div class="header-top__icons">
          <a class="header-top__cabinet" href="#">
            <svg class="header-top__cab" width="22" height="22" viewBox="0 0 22 22">
              <use xlink:href="img/sprites/sprite.svg#home-header-cabinet"/>
            </svg>
          </a>
          <a class="header-top__shopping" href="#">
            <svg class="header-top__shop" width="22" height="22" viewBox="0 0 22 22">
              <use xlink:href="img/sprites/sprite.svg#home-header-shop"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle site-header__middle">
    <div class="container header-middle__container">
      <button class="burger-middle header-middle__burger header-middle__burger_active" aria-label="Открыть основное навигационное меню">
        <span class="burger-middle__line burger-middle__line_first"></span>
        <span class="burger-middle__line burger-middle__line_second"></span>
        <span class="burger-middle__line burger-middle__line_third"></span>
        <span class="burger-middle__line burger-middle__line_fourth"></span>
      </button>
      <a class="header-middle__logo header-middle__logo_desktop" href="index.html">
        <img class="header-middle__picture" src="img/svg/logo.svg" alt="Логотип компании SitDownPls" width="187" height="27" loading="lazy">
      </a>
      <nav class="header-middle__nav" aria-label="Главная навигация">
        <ul class="header-middle__list">
          <li class="header-middle__item">
            <a class="header-middle__link" href="catalog.html">
              Каталог
            </a>
          </li>
          <li class="header-middle__item">
            <a class="header-middle__link" href="#">
              Магазины
            </a>
          </li>
          <li class="header-middle__item">
            <a class="header-middle__link" href="#">
              Шоу-рум
            </a>
          </li>
          <li class="header-middle__item">
            <a class="header-middle__link" href="#">
              Доставка и&nbsp;оплата
            </a>
          </li>
          <li class="header-middle__item">
            <a class="header-middle__link" href="#">
              Дисконт
            </a>
          </li>
          <li class="header-middle__item">
            <a class="header-middle__link" href="#">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
      <nav class="additional-middle header-middle__additional header-middle__additional_mobile" aria-label="Дополнительная навигация">
        <ul class="additional-middle__list additional-middle__list_mobile">
          <li class="additional-middle__item">
            <a class="additional-middle__link" href="#">О&nbsp;компании</a>
          </li>
          <li class="additional-middle__item">
            <a class="additional-middle__link" href="#">Гарантия и&nbsp;возврат</a>
          </li>
          <li class="additional-middle__item">
            <a class="additional-middle__link" href="#">Корпоративным клиентам</a>
          </li>
          <li class="additional-middle__item">
            <a class="additional-middle__link" href="#">Дизайн-решение</a>
          </li>
        </ul>
      </nav>
      <div class="header-middle__icons header-middle__icons_mobile">
        <a class="header-cabinet header-middle__cabinet header-middle__cabinet_tablet" href="#">
          <svg class="header-middle__cab" width="22" height="22" viewBox="0 0 22 22">
            <use xlink:href="img/sprites/sprite.svg#home-header-cabinet"/>
          </svg>
        </a>
        <a class="header-shopping header-middle__shopping header-middle__shopping_tablet" href="#">
          <svg class="header-middle__shop" width="22" height="22" viewBox="0 0 22 22">
            <use xlink:href="img/sprites/sprite.svg#home-header-shop"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="header-bottom site-header__bottom">
    <div class="container header-bottom__container">
      <form class="header-bottom__form" action="https://postman-echo.com/post" name="searchTop">
        <input class="header-bottom__input" type="search" name="searchTop" placeholder="Я хочу купить..." id="header-bottom__input">
        <svg class="header-bottom__search" width="22" height="22" viewBox="0 0 22 22">
          <use xlink:href="img/sprites/sprite.svg#home-header-search"/>
        </svg>
        <label class="header-bottom__label visually-hidden" for="header-bottom__input"></label>
        <button class="btnNext header-bottom__button" type="button"></button>
      </form>
      <select class="header-bottom__select">
        <option class="header-bottom__option" value="zero">Категория</option>
        <option class="header-bottom__option" value="one">Диваны</option>
        <option class="header-bottom__option" value="two">Кресла</option>
        <option class="header-bottom__option" value="three">Пуфы</option>
        <option class="header-bottom__option" value="four">Кровати</option>
        <option class="header-bottom__option" value="five">Тумбы</option>
        <option class="header-bottom__option" value="six">Комоды</option>
        <option class="header-bottom__option" value="seven">Стулья</option>
        <option class="header-bottom__option" value="eight">Столы</option>
        <option class="header-bottom__option" value="nine">Аксессуары</option>
      </select>
      <a class="header-bottom__cabinet header-bottom__cabinet_desktop" href="#">
        <svg class="header-bottom__cab" width="22" height="22" viewBox="0 0 22 22">
          <use xlink:href="img/sprites/sprite.svg#home-header-cabinet"/>
        </svg>
      </a>
      <a class="header-bottom__shopping header-bottom__shopping_desktop" href="#">
        <svg class="header-bottom__shop" width="22" height="22" viewBox="0 0 22 22">
          <use xlink:href="img/sprites/sprite.svg#home-header-shop"/>
        </svg>
      </a>
    </div>
  </div>
</header>
