<section class="site-hero">
    <div class="swiper site-hero__slider">
      <div class="swiper-pagination site-hero__pag"></div>
      <div class="swiper-wrapper site-hero__wrap">
        <div class="swiper-slide site-hero__slide">
          <div class="site-hero__content site-hero__content_one">
            <div class="container site-hero__container">
              <h2 class="site-hero__title site-hero__title_one">
                Скидка&nbsp;15% на&nbsp;первую покупку
              </h2>
              <button class="button-primary site-hero__button site-hero__button_mobile">
                Получить!
              </button>
            </div>
          </div>
          <button class="button-primary site-hero__button site-hero__button_desktop">
            Получить!
          </button>
        </div>
        <div class="swiper-slide site-hero__slide">
          <div class="site-hero__content site-hero__content_two">
            <div class="container site-hero__container">
              <h2 class="site-hero__title site-hero__title_two">
                1000+ аксессуаров для дома
              </h2>
              <button class="button-primary site-hero__button site-hero__button_mobile">
                Подробнее
              </button>
            </div>
          </div>
          <button class="button-primary site-hero__button site-hero__button_desktop">
            Подробнее
          </button>
        </div>
        <div class="swiper-slide site-hero__slide">
          <div class="site-hero__content site-hero__content_three">
            <div class="container site-hero__container">
              <h2 class="site-hero__title site-hero__title_three">
                Коллекция стильного и&nbsp;яркого текстиля
              </h2>
              <button class="button-primary site-hero__button site-hero__button_mobile">
                Подробнее
              </button>
            </div>
          </div>
          <button class="button-primary site-hero__button site-hero__button_desktop">
            Подробнее
          </button>
        </div>
      </div>
    </div>
</section>
