<section class="site-high">
  <div class="container site-high__container">
    <h2 class="title-primary site-high__title">
      Высокий рейтинг
    </h2>
    <ul class="content-list">
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">5,0</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-one-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-one-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-one.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-one.png">
            <img class="content-picture content-picture_one" src="img/pictures/catalog-catalog-one.png" alt="На картинке изображен кожаный диван “R-94”" height="82" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван кожаный</span><span class="content-subname">“R-94”</span>
            </h3>
            <span class="content-price">
              94&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,9</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-two-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-two-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-two.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-two.png">
            <img class="content-picture content-picture_two" src="img/pictures/catalog-catalog-two.png" alt="На картинке изображен апартековый диван “T-75”" height="101" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван апартековый</span><span class="content-subname">“T-75”</span>
            </h3>
            <span class="content-price">
              69&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,8</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-three-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-three-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-three.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-three.png">
            <img class="content-picture content-picture_three" src="img/pictures/catalog-catalog-three.png" alt="На картинке изображен тканевый диван “D-31”" height="103" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван тканевый</span><span class="content-subname">“D-31”</span>
            </h3>
            <span class="content-price">
              28&nbsp;490 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,8</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-four-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-four-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-four.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-four.png">
            <img class="content-picture content-picture_four" src="img/pictures/catalog-catalog-four.png" alt="На картинке изображен велюровый диван “Y-68”" height="125" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван велюровый</span><span class="content-subname">“Y-68”</span>
            </h3>
            <span class="content-price">
              22&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
      <article class="content-article">
        <span class="content-rating">4,8</span>
        <picture class="content-pictures">
          <source srcset="img/pictures/catalog-catalog-five-320.webp" type="image/webp" media="(max-width: 500px)">
          <source srcset="img/pictures/catalog-catalog-five-320.png" media="(max-width: 500px)">
          <source srcset="img/pictures/catalog-catalog-five.webp" type="image/webp">
          <source srcset="img/pictures/catalog-catalog-five.png">
          <img class="content-picture content-picture_five" src="img/pictures/catalog-catalog-five.png" alt="На картинке изображен диван из шинила “W-95”" height="117" loading="lazy">
        </picture>
        <div class="content-box">
          <h3 class="content-title">
            <span class="content-name">Диван из&nbsp;шинила</span><span class="content-subname">“W-95”</span>
          </h3>
          <span class="content-price">
            22&nbsp;990 руб
          </span>
          <button class="content-button button-border">
            Купить
          </button>
        </div>
      </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,8</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-six-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-six-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-six.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-six.png">
            <img class="content-picture content-picture_six" src="img/pictures/catalog-catalog-six.png" alt="На картинке изображен флоковый диван “G-41”" height="117" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван флоковый</span><span class="content-subname">“G-41”</span>
            </h3>
            <span class="content-price">
              17&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,8</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-seven-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-seven-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-seven.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-seven.png">
            <img class="content-picture content-picture_seven" src="img/pictures/catalog-catalog-seven.png" alt="На картинке изображен шиниловый диван “V-43”" height="130" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван шиниловый</span><span class="content-subname">“V-43”</span>
            </h3>
            <span class="content-price">
              19&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,7</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-eight-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-eight-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-eight.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-eight.png">
            <img class="content-picture content-picture_eight" src="img/pictures/catalog-catalog-eight.png" alt="На картинке изображен велюровый диван “S-99”" height="124" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван велюровый</span><span class="content-subname">“S-99”</span>
            </h3>
            <span class="content-price">
              19&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,7</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-nine-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-nine-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-nine.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-nine.png">
            <img class="content-picture content-picture_nine" src="img/pictures/catalog-catalog-nine.png" alt="На картинке изображен диван из кожзама “F-85”" height="125" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван из кожзама</span><span class="content-subname">“F-85”</span>
            </h3>
            <span class="content-price">
              26&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,6</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-ten-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-ten-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-ten.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-ten.png">
            <img class="content-picture content-picture_ten" src="img/pictures/catalog-catalog-ten.png" alt="На картинке изображен флоковый диван “H-64”" height="130" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
               <span class="content-name">Диван флоковый</span><span class="content-subname">“H-64”</span>
            </h3>
            <span class="content-price">
              25&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,6</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-eleven-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-eleven-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-eleven.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-eleven.png">
            <img class="content-picture content-picture_eleven" src="img/pictures/catalog-catalog-eleven.png" alt="На картинке изображен флоковый диван “H-58”" height="133" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван флоковый</span><span class="content-subname">“H-58”</span>
            </h3>
            <span class="content-price">
              23&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,6</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-twelve-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-twelve-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-twelve.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-twelve.png">
            <img class="content-picture content-picture_twelve" src="img/pictures/catalog-catalog-twelve.png" alt="На картинке изображен диван из кожзама “R-43”" height="105" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван из кожзама</span><span class="content-subname">“R-43”</span>
            </h3>
            <span class="content-price">
              33&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,6</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-thirteen-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-thirteen-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-thirteen.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-thirteen.png">
            <img class="content-picture content-picture_thirteen" src="img/pictures/catalog-catalog-thirteen.png" alt="На картинке изображен диван из шинила “С-42”" height="127" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван из шинила</span><span class="content-subname">“С-42”</span>
            </h3>
            <span class="content-price">
              18&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,6</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-fourteen-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-fourteen-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-fourteen.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-fourteen.png">
            <img class="content-picture content-picture_fourteen" src="img/pictures/catalog-catalog-fourteen.png" alt="На картинке изображен велюровый диван “U-58”" height="92" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
               <span class="content-name">Диван велюровый</span><span class="content-subname">“U-58”</span>
            </h3>
            <span class="content-price">
              21&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,5</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-fifteen-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-fifteen-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-fifteen.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-fifteen.png">
            <img class="content-picture content-picture_fifteen" src="img/pictures/catalog-catalog-fifteen.png" alt="На картинке изображен флоковый диван “F-41”" height="106" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван флоковый</span><span class="content-subname">“F-41”</span>
            </h3>
            <span class="content-price">
              17&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,5</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-sixteen-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-sixteen-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-sixteen.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-sixteen.png">
            <img class="content-picture content-picture_sixteen" src="img/pictures/catalog-catalog-sixteen.png" alt="На картинке изображен велюровый диван “R-85”" height="105" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван велюровый</span><span class="content-subname">“R-85”</span>
            </h3>
            <span class="content-price">
              34&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,5</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-seventeen-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-seventeen-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-seventeen.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-seventeen.png">
            <img class="content-picture content-picture_seventeen" src="img/pictures/catalog-catalog-seventeen.png" alt="На картинке изображен велюровый диван “S-44”" height="105" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name content-picture_seventeen">Диван велюровый</span><span class="content-subname">“S-44”</span>
            </h3>
            <span class="content-price">
              19&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
      <li class="content-item site-high__item">
        <article class="content-article">
          <span class="content-rating">4,4</span>
          <picture class="content-pictures">
            <source srcset="img/pictures/catalog-catalog-eighteen-320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-eighteen-320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/catalog-catalog-eighteen.webp" type="image/webp">
            <source srcset="img/pictures/catalog-catalog-eighteen.png">
            <img class="content-picture content-picture_eighteen" src="img/pictures/catalog-catalog-eighteen.png" alt="На картинке изображен диван из шинила “С-80”" height="130" loading="lazy">
          </picture>
          <div class="content-box">
            <h3 class="content-title">
              <span class="content-name">Диван из шинила</span><span class="content-subname">“С-80”</span>
            </h3>
            <span class="content-price">
              20&nbsp;990 руб
            </span>
            <button class="content-button button-border">
              Купить
            </button>
          </div>
        </article>
      </li>
    </ul>
    <button class="button-primary site-high__button">
      Смотреть больше товаров
    </button>
  </div>
</section>
