<div class="dialog-window" id="dialog-window" role="dialog" tabindex="-1" aria-labelledby="dialog-title" aria-modal="true" aria-hidden="true">
  <div class="dialog-window__overlay" data-a11y-dialog-hide></div>
  <div class="dialog-window__content" role="document">
    <button class="dialog-window__close" type="button" aria-label="Закрыть диалоговое окно" data-a11y-dialog-hide>
      <span class="dialog-window__cross">
        <svg class="dialog-window__icon" width="20" height="20" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#modal-close" />
        </svg>
      </span>
    </button>
    <img class="dialog-window__image" src="img/pictures/modal-picture.png" width="172" height="117" decoding="async" loading="lazy" aria-hidden="true" alt="Оранжевый слон">
    <h2 class="title dialog-window__title" id="dialog-title">
      Спасибо, мы вам перезвоним!
    </h2>
  </div>
</div>
