<div class="slider-window" id="slider-dialog-window" role="dialog" tabindex="-1" aria-modal="true" aria-hidden="true">
  <div class="slider-window__overlay" data-a11y-dialog-hide></div>
  <div class="slider-window__content" role="document">
    <button class="window-close slider-window__close" type="button" aria-label="Закрыть диалоговое окно" data-a11y-dialog-hide>
      <span class="window-close__inner">
        <svg class="window-close__icon" width="20" height="20" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#modal-close" />
        </svg>
      </span>
    </button>
    <div class="swiper window-sliderOne slider-window__sliderOne">
      <div class="swiper-wrapper window-sliderOne__wrap">
        <div class="swiper-slide window-sliderOne__slide">
          <picture class="window-sliderOne__pictures">
            <source srcset="img/pictures/card-oneSwiper-one320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/card-oneSwiper-one320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/modal-slider-one.webp" type="image/webp">
            <source srcset="img/pictures/modal-slider-one.png">
            <img class="window-sliderOne__picture" src="img/pictures/modal-slider.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide window-sliderOne__slide">
          <picture class="window-sliderOne__pictures">
            <source srcset="img/pictures/card-oneSwiper-two320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/card-oneSwiper-two320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/modal-slider-two.webp" type="image/webp">
            <source srcset="img/pictures/modal-slider-two.png">
            <img class="window-sliderOne__picture" src="img/pictures/modal-slider-two.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide window-sliderOne__slide">
          <picture class="window-sliderOne__pictures">
            <source srcset="img/pictures/card-oneSwiper-three320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/card-oneSwiper-three320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/modal-slider-three768.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="img/pictures/modal-slider-three768.png" media="(max-width: 768px)">
            <source srcset="img/pictures/modal-slider-three.webp" type="image/webp">
            <source srcset="img/pictures/modal-slider-three.png">
            <img class="window-sliderOne__picture window-sliderOne__picture_three" src="img/pictures/modal-slider-three.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide window-sliderOne__slide">
          <picture class="window-sliderOne__pictures">
            <source srcset="img/pictures/card-oneSwiper-four320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/card-oneSwiper-four320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/modal-slider-four.webp" type="image/webp">
            <source srcset="img/pictures/modal-slider-four.png">
            <img class="window-sliderOne__picture" src="img/pictures/modal-slider-four.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide window-sliderOne__slide">
          <picture class="window-sliderOne__pictures">
            <source srcset="img/pictures/card-oneSwiper-five320.webp" type="image/webp" media="(max-width: 500px)">
            <source srcset="img/pictures/card-oneSwiper-five320.png" media="(max-width: 500px)">
            <source srcset="img/pictures/modal-slider-five.webp" type="image/webp">
            <source srcset="img/pictures/modal-slider-five.png">
            <img class="window-sliderOne__picture" src="img/pictures/modal-slider-five.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
          </picture>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev btnNext sliderTwo-prev"></div>
    <div class="swiper window-sliderTwo slider-window__sliderTwo">
      <div class="swiper-wrapper window-sliderTwo__wrap">
        <div class="swiper-slide window-sliderTwo__slide">
          <picture class="window-sliderTwo__pictures">
            <source srcset="img/pictures/modal-sliderTwo-one.webp" type="image/webp">
            <source srcset="img/pictures/modal-sliderTwo-one.png">
            <img class="window-sliderTwo__picture" src="img/pictures/modal-sliderTwo-one.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide window-sliderTwo__slide">
          <picture class="window-sliderTwo__pictures">
            <source srcset="img/pictures/modal-sliderTwo-two.webp" type="image/webp">
            <source srcset="img/pictures/modal-sliderTwo-two.png">
            <img class="window-sliderTwo__picture" src="img/pictures/modal-sliderTwo-two.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide window-sliderTwo__slide">
          <picture class="window-sliderTwo__pictures">
            <source srcset="img/pictures/modal-sliderTwo-three320.webp" type="image/webp" media="(max-width: 400px)">
            <source srcset="img/pictures/modal-sliderTwo-three320.png" media="(max-width: 400px)">
            <source srcset="img/pictures/modal-sliderTwo-three.webp" type="image/webp">
            <source srcset="img/pictures/modal-sliderTwo-three.png">
            <img class="window-sliderTwo__picture" src="img/pictures/modal-sliderTwo-three.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide window-sliderTwo__slide">
          <picture class="window-sliderTwo__pictures">
            <source srcset="img/pictures/modal-sliderTwo-four.webp" type="image/webp">
            <source srcset="img/pictures/modal-sliderTwo-four.png">
            <img class="window-sliderTwo__picture" src="img/pictures/modal-sliderTwo-four.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide window-sliderTwo__slide">
          <picture class="window-sliderTwo__pictures">
            <source srcset="img/pictures/modal-sliderTwo-five.webp" type="image/webp">
            <source srcset="img/pictures/modal-sliderTwo-five.png">
            <img class="window-sliderTwo__picture" src="img/pictures/modal-sliderTwo-five.png" alt="На картинке изображен тканевый прямой диван “D-31”" loading="lazy">
          </picture>
        </div>
      </div>
      </div>
      <div class="swiper-button-next btnNext sliderTwo-next"></div>
  </div>
</div>
