<section class="site-oxford">
  <div class="container site-oxford__container">
    <picture class="oxford-pictures site-oxford__pictures">
      <source srcset="img/pictures/home-oxford-one-320.webp" type="image/webp" media="(max-width: 320px)">
      <source srcset="img/pictures/home-oxford-one-320.png" media="(max-width: 320px)">
      <source srcset="img/pictures/home-oxford-one-768.webp" type="image/webp" media="(max-width: 768px)">
      <source srcset="img/pictures/home-oxford-one-768.png" media="(max-width: 768px)">
      <source srcset="img/pictures/home-oxford-one-1024.webp" type="image/webp" media="(max-width: 1024px)">
      <source srcset="img/pictures/home-oxford-one-1024.png" media="(max-width: 1024px)">
      <source srcset="img/pictures/home-oxford-one.webp" type="image/webp">
      <source srcset="img/pictures/home-oxford-one.png">
      <img class="oxford-picture site-oxford__picture" src="img/pictures/home-oxford-one.png" alt="На картинке изображено кресло Оксфорд 1950" height="600" loading="lazy">
    </picture>
    <div class="oxford-box site-oxford__box">
      <h2 class="oxford-title site-oxford__title"><span class="oxford-black site-oxford__black">Оксфорд 1950</span>
        Новая коллекция изысканных кресел
      </h2>
      <button class="oxford-button button-primary site-oxford__button site-oxford__button_desktop">Ознакомиться</button>
    </div>
  </div>
  <button class="oxford-button button-primary site-oxford__button site-oxford__button_mobile">Ознакомиться</button>
</section>
