<section class="site-special">
  <div class="container site-special__container">
    <div class="special-top site-special__top">
      <h2 class="title-primary special-top__title">
        Специальные предложения
      </h2>
      <div class="special-top__buttons">
        <div class="swiper-button-prev btnNext special-top__prev"></div>
        <div class="swiper-button-next btnNext special-top__next"></div>
      </div>
    </div>
  <div class="swiper top-slider">
      <div class="swiper-wrapper top-slider__wrap">
        <div class="swiper-slide top-slider__slide">
          <article class="slider-content top-slider__content slider-content_one">
            <div class="slider-content__sale slider-content__sale_one">
              -&nbsp;9&nbsp;000
            </div>
            <picture class="slider-content__pictures">
              <source srcset="img/pictures/home-special-one-1024.webp" type="image/webp" media="(max-width: 1270px)">
              <source srcset="img/pictures/home-special-one-1024.png" media="(max-width: 1270px)">
              <source srcset="img/pictures/home-special-one.webp" type="image/webp">
              <source srcset="img/pictures/home-special-one.png">
              <img class="slider-content__picture slider-content__picture_one" src="img/pictures/home-special-one.png" alt="На картинке изображено велюровое кресло" width="193" height="210" loading="lazy">
            </picture>
            <div class="slider-content__box">
              <h3 class="title-content slider-content__title">
                Кресло велюровое "X-24"
              </h3>
              <div class="slider-content__prices">
                <span class="slider-content__price">
                  15&nbsp;990 руб
                </span>
                <span class="span slider-content__former">
                  24&nbsp;990 руб
                </span>
              </div>
              <button class="button-border slider-content__button">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide top-slider__slide">
          <article class="slider-content top-slider__content slider-content_two">
            <div class="slider-content__sale slider-content__sale_two">
              -&nbsp;10&nbsp;000
            </div>
            <picture class="slider-content__pictures slider-content__pictures_two">
              <source srcset="img/pictures/home-special-two-1024.webp" type="image/webp" media="(max-width: 1270px)">
              <source srcset="img/pictures/home-special-two-1024.png" media="(max-width: 1270px)">
              <source srcset="img/pictures/home-special-two.webp" type="image/webp">
              <source srcset="img/pictures/home-special-two.png">
              <img class="slider-content__picture slider-content__picture_two" src="img/pictures/home-special-two.png" alt="На картинке изображен бежевый диван" width="450" height="245" loading="lazy">
          </picture>
          <div class="slider-content__box">
            <h3 class="title-content slider-content__title">
              Диван тканевый "Z-44"
            </h3>
            <div class="slider-content__prices">
              <span class="slider-content__price">
                22&nbsp;990 руб
              </span>
              <span class="span slider-content__former">
                32&nbsp;990 руб
              </span>
            </div>
            <button class="button-border slider-content__button">Купить</button>
          </div>
          </article>
        </div>
        <div class="swiper-slide top-slider__slide">
          <article class="slider-content top-slider__content slider-content_three">
            <div class="slider-content__sale slider-content__sale_three">
              -&nbsp;600
            </div>
            <picture class="slider-content__pictures">
              <source srcset="img/pictures/home-special-three-1024.webp" type="image/webp" media="(max-width: 1270px)">
              <source srcset="img/pictures/home-special-three-1024.png" media="(max-width: 1270px)">
              <source srcset="img/pictures/home-special-four.webp" type="image/webp">
              <source srcset="img/pictures/home-special-four.png">
              <img class="slider-content__picture slider-content__picture_four" src="img/pictures/home-special-three.png" alt="На картинке изображен будильник" width="149" height="218" loading="lazy">
          </picture>
          <div class="slider-content__box">
            <h3 class="title-content slider-content__title">
              Будильник "Quartz-23"
            </h3>
            <div class="slider-content__prices">
              <span class="slider-content__price">
                1&nbsp;290 руб
              </span>
              <span class="span slider-content__former">
                1&nbsp;890 руб
              </span>
            </div>
            <button class="button-border slider-content__button">Купить</button>
        </div>
          </article>
        </div>
        <div class="swiper-slide top-slider__slide">
          <article class="slider-content top-slider__content slider-content_four">
            <div class="slider-content__sale slider-content__sale_four">
              -&nbsp;300
            </div>
            <picture class="slider-content__pictures slider-content__pictures_five">
              <source srcset="img/pictures/home-special-four-1024.webp" type="image/webp" media="(max-width: 1270px)">
              <source srcset="img/pictures/home-special-four-1024.png" media="(max-width: 1270px)">
              <source srcset="img/pictures/home-special-five.webp" type="image/webp">
              <source srcset="img/pictures/home-special-five.png">
              <img class="slider-content__picture slider-content__picture_five" src="img/pictures/home-special-four.png" alt="На картинке изображена статуэтка оленя" width="117" height="210" loading="lazy">
            </picture>
            <div class="slider-content__box">
              <h3 class="title-content slider-content__title">
                Мини-скульптура "Oh&nbsp;my&nbsp;deer"
              </h3>
              <div class="slider-content__prices">
                <span class="slider-content__price">
                  690 руб
                </span>
                <span class="span slider-content__former">
                  990 руб
                </span>
              </div>
              <button class="button-border slider-content__button">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide top-slider__slide">
          <article class="slider-content top-slider__content slider-content_five">
            <div class="slider-content__sale slider-content__sale_five">
              -&nbsp;10&nbsp;000
            </div>
            <picture class="slider-content__pictures">
              <source srcset="img/pictures/home-special-five-1024.webp" type="image/webp" media="(max-width: 1270px)">
              <source srcset="img/pictures/home-special-five-1024.png" media="(max-width: 1270px)">
              <source srcset="img/pictures/home-special-six.webp" type="image/webp">
              <source srcset="img/pictures/home-special-six.png">
              <img class="slider-content__picture slider-content__picture_six" src="img/pictures/home-special-five.png" alt="На картинке изображен диван вел-флок" width="463" height="223" loading="lazy">
            </picture>
            <div class="slider-content__box">
              <h3 class="title-content slider-content__title">
                Диван вел-флок "Z-85"
              </h3>
              <div class="slider-content__prices">
                <span class="slider-content__price">
                  22&nbsp;990 руб
                </span>
                <span class="span slider-content__former">
                  32&nbsp;990 руб
                </span>
              </div>
              <button class="button-border slider-content__button">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide top-slider__slide">
          <article class="slider-content top-slider__content slider-content_six">
            <div class="slider-content__sale slider-content__sale_six">
              -&nbsp;700
            </div>
            <picture class="slider-content__pictures">
              <source srcset="img/pictures/home-special-six-1024.webp" type="image/webp" media="(max-width: 1270px)">
              <source srcset="img/pictures/home-special-six-1024.png" media="(max-width: 1270px)">
              <source srcset="img/pictures/home-special-eight.webp" type="image/webp">
              <source srcset="img/pictures/home-special-eight.png">
              <img class="slider-content__picture slider-content__picture_eight" src="img/pictures/home-special-six.png" alt="На картинке изображен термометр + гидрометр" width="183" height="218" loading="lazy">
            </picture>
            <div class="slider-content__box">
              <h3 class="title-content slider-content__title">
                Термометр + гидрометр &laquo;H-18&raquo;
              </h3>
              <div class="slider-content__prices">
                <span class="slider-content__price">
                  1&nbsp;390 руб
                </span>
                <span class="span slider-content__former">
                  2&nbsp;090 руб
                </span>
              </div>
              <button class="button-border slider-content__button">Купить</button>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
