<section class="site-cooperation">
  <div class="container site-cooperation__container">
    <nav aria-label="Хлебные крошки" class="cooperation-breadcrumb site-cooperation__breadcrumb">
      <ul class="cooperation-breadcrumb__list">
          <li class="cooperation-breadcrumb__item"><a class="cooperation-breadcrumb__link" href="index.html">Главная</a></li>
          <li class="cooperation-breadcrumb__item cooperation-breadcrumb__item_active"><a aria-current="page">Сотрудничество</a></li>
      </ul>
    </nav>
    <h2 class="title-primary site-cooperation__title">
      Сотрудничество
    </h2>
    <h3 class="title-content site-cooperation__suppliers">
      Поставщикам
    </h3>
    <p class="text-cooperation site-cooperation__text site-cooperation__text_what">
      При планировании обстановки торгового помещения важно обустроить его с&nbsp;комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и&nbsp;хранение товаров в&nbsp;зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы&nbsp;поможем выбрать продукцию с&nbsp;учетом нагрузки от&nbsp;поступающего трафика.
    </p>
    <h3 class="title-content site-cooperation__title site-cooperation__title_what">
      Что вы&nbsp;получаете?
    </h3>
    <ul class="cooperation-what site-cooperation__what">
      <li class="text-cooperation cooperation-what__item cooperation-what__item_one">
        Мы&nbsp;ценим идеи и&nbsp;вдохновение и&nbsp;предлагаем сотрудничество талантливым дизайнерам и&nbsp;архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
      </li>
      <li class="text-cooperation cooperation-what__item cooperation-what__item_two">
        Комплексное решение для красивого и&nbsp;функционального обустройства любых пространств.
      </li>
      <li class="text-cooperation cooperation-what__item cooperation-what__item_three">
        В&nbsp;ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в&nbsp;помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и&nbsp;переговорных комнатах.
      </li>
    </ul>
    <h3 class="title-content site-cooperation__title site-cooperation__title_benefits">
      Ваши преимущества от&nbsp;сотрудничества
    </h3>
    <ul class="cooperation-benefits site-cooperation__benefits">
      <li class="cooperation-benefits__item">
        <span class="cooperation-benefits__number">
          Возможность&nbsp;1:
        </span>
        <p class="text-cooperation cooperation-benefits__desc">
          Создавайте незабываемые впечатления. Красиво меблированная фотостудия не&nbsp;оставит клиентов равнодушными, а&nbsp;созданная интерьером атмосфера будет надолго запечатлена на&nbsp;их&nbsp;снимках. Стильная и&nbsp;разноплановая обстановка творческого пространства&nbsp;&mdash; ключевая составляющая его успешной деятельности. Позаботьтесь о&nbsp;людях в&nbsp;кадре, а&nbsp;мы&nbsp;поможем правильно выбрать мебель.
        </p>
      </li>
      <li class="cooperation-benefits__item">
        <span class="cooperation-benefits__number">
          Возможность&nbsp;2:
        </span>
        <p class="text-cooperation cooperation-benefits__desc">
          Мы&nbsp;предлагаем застройщикам, работающим на&nbsp;территории&nbsp;РФ, участие наших специалистов от&nbsp;этапа проектирования обстановки квартир и&nbsp;подбора комплексных интерьерных решений до&nbsp;оптовых поставок мебели. Поможем организовать демонстрационный зал с&nbsp;образцами изделий и&nbsp;материалов на&nbsp;площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.
        </p>
      </li>
    </ul>
    <h3 class="title-content site-cooperation__title site-cooperation__title_guarantees">
      Гарантии
    </h3>
    <ul class="cooperation-guarantees site-cooperation__guarantees">
      <li class="text-cooperation cooperation-guarantees__item">
        <span class="cooperation-guarantees__number">1.</span>
        <p class="cooperation-guarantees__desc">При приемке товара Покупатель должен внимательно проверить его количество, качество и&nbsp;ассортимент на&nbsp;соответствие сопроводительным документам и&nbsp;заказу. После подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.</p>
      </li>
      <li class="text-cooperation cooperation-guarantees__item">
        <span class="cooperation-guarantees__number">2.</span>
        <p class="cooperation-guarantees__desc">На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца), гарантийные обязательства Продавца не распространяются. Также гарантия не распространяется на повреждения товара, полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем.</p>
      </li>
      <li class="text-cooperation cooperation-guarantees__item">
        <span class="cooperation-guarantees__number">3.</span>
        <p class="cooperation-guarantees__desc">Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги доставки.</p>
      </li>
    </ul>
    <div class="cooperation-term site-cooperation__term">
      <span class="cooperation-term__text">
        Срок гарантии на&nbsp;нашу мебель составляет от&nbsp;18&nbsp;до&nbsp;60&nbsp;месяцев
      </span>
    </div>
  </div>
</section>

