<section class="site-top">
  <div class="container site-top__container">
    <h2 class="title-primary site-top__title">
      Топ категории
    </h2>
    <ul class="site-top__list">
      <li class="top-item site-top__item site-top__item_one">
        <div class="top-item__box top-item__box_one">
          <ul class="top-item__classification top-item__classification_one">
            <li class="top-item__elem top-item__elem_one"><a class="top-item__reference" href="#">Прямые</a></li>
            <li class="top-item__elem top-item__elem_one"><a class="top-item__reference" href="#">Угловые</a></li>
            <li class="top-item__elem top-item__elem_one"><a class="top-item__reference" href="#">Модульные</a></li>
          </ul>
          <div class="top-item__flex top-item__flex_one">
            <h3 class="content-title top-item__subtitle top-item__subtitle_one">Диваны</h3>
            <a class="top-item__link top-item__link_mobile" href="#"><span class="btnNext top-item__arrow"></span></a>
          </div>
          <picture class="top-item__pictures top-item__pictures_one">
            <source srcset="img/pictures/home-top-one-320.webp" type="image/webp" media="(max-width: 320px)">
            <source srcset="img/pictures/home-top-one-320.png" media="(max-width: 320px)">
            <source srcset="img/pictures/home-top-one-720.webp" type="image/webp" media="(max-width: 460px)">
            <source srcset="img/pictures/home-top-one-720.png" media="(max-width: 460px)">
            <source srcset="img/pictures/home-top-one-768.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="img/pictures/home-top-one-768.png" media="(max-width: 768px)">
            <source srcset="img/pictures/home-top-one-1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/home-top-one-1024.png" media="(max-width: 1150px)">
            <source srcset="img/pictures/home-top-one.webp" type="image/webp">
            <source srcset="img/pictures/home-top-one.png">
            <img class="top-item__picture top-item__picture_one" src="img/pictures/home-top-one.png" alt="На картинке изображен диван" height="308" loading="lazy">
          </picture>
          <a class="top-item__link top-item__link_desktop" href="#"><span class="top-item__catalog">В каталог</span><span class="btnNext top-item__arrow"></span></a>
        </div>
      </li>
      <li class="top-item site-top__item site-top__item_two">
        <div class="top-item__box top-item__box_two">
          <ul class="top-item__classification">
            <li class="top-item__elem"><a class="top-item__reference" href="#">Мягкие</a></li>
            <li class="top-item__elem"><a class="top-item__reference" href="#">Кресла-кровати</a></li>
          </ul>
          <div class="top-item__flex">
            <h3 class="content-title top-item__subtitle">Кресла</h3>
            <a class="top-item__link top-item__link_mobile" href="#"><span class="btnNext top-item__arrow"></span></a>
          </div>
          <picture class="top-item__pictures">
            <source srcset="img/pictures/home-top-three-320.webp" type="image/webp" media="(max-width: 320px)">
            <source srcset="img/pictures/home-top-three-320.png" media="(max-width: 320px)">
            <source srcset="img/pictures/home-top-three-720.webp" type="image/webp" media="(max-width: 460px)">
            <source srcset="img/pictures/home-top-three-720.png" media="(max-width: 460px)">
            <source srcset="img/pictures/home-top-three-768.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="img/pictures/home-top-three-768.png" media="(max-width: 768px)">
            <source srcset="img/pictures/home-top-four-1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/home-top-four-1024.png" media="(max-width: 1150px)">
            <source srcset="img/pictures/home-top-two.webp" type="image/webp">
            <source srcset="img/pictures/home-top-two.png">
            <img class="top-item__picture top-item__picture_two" src="img/pictures/home-top-two.png" alt="На картинке изображено кресло" loading="lazy">
          </picture>
          <a class="top-item__link top-item__link_desktop" href="#"><span class="top-item__catalog">В каталог</span><span class="btnNext top-item__arrow"></span></a>
        </div>
      </li>
      <li class="top-item site-top__item site-top__item_three">
        <div class="top-item__box top-item__box_three">
          <ul class="top-item__classification">
            <li class="top-item__elem"><a class="top-item__reference" href="#">Односпальные</a></li>
            <li class="top-item__elem"><a class="top-item__reference" href="#">Двуспальные</a></li>
          </ul>
          <div class="top-item__flex">
            <h3 class="content-title top-item__subtitle">Кровати</h3>
            <a class="top-item__link top-item__link_mobile" href="#"><span class="btnNext top-item__arrow"></span></a>
          </div>
          <picture class="top-item__pictures">
            <source srcset="img/pictures/home-top-two-320.webp" type="image/webp" media="(max-width: 320px)">
            <source srcset="img/pictures/home-top-two-320.png" media="(max-width: 320px)">
            <source srcset="img/pictures/home-top-two-720.webp" type="image/webp" media="(max-width: 460px)">
            <source srcset="img/pictures/home-top-two-720.png" media="(max-width: 460px)">
            <source srcset="img/pictures/home-top-two-768.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="img/pictures/home-top-two-768.png" media="(max-width: 768px)">
            <source srcset="img/pictures/home-top-two-1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/home-top-two-1024.png" media="(max-width: 1150px)">
            <source srcset="img/pictures/home-top-three.webp" type="image/webp">
            <source srcset="img/pictures/home-top-three.png">
            <img class="top-item__picture top-item__picture_three" src="img/pictures/home-top-three.png" alt="На картинке изображенa кровать" loading="lazy">
          </picture>
          <a class="top-item__link top-item__link_desktop" href="#"><span class="top-item__catalog">В каталог</span><span class="btnNext top-item__arrow"></span></a>
        </div>
      </li>
      <li class="top-item site-top__item site-top__item_four">
        <div class="top-item__box top-item__box_four">
          <ul class="top-item__classification">
            <li class="top-item__elem"><a class="top-item__reference" href="#">Тумбы</a></li>
            <li class="top-item__elem"><a class="top-item__reference" href="#">Комоды</a></li>
          </ul>
          <div class="top-item__flex top-item__flex_four">
            <h3 class="content-title top-item__subtitle top-item__subtitle_four">Тумбы и&nbsp;комоды</h3>
            <a class="top-item__link top-item__link_mobile" href="#"><span class="btnNext top-item__arrow"></span></a>
          </div>
          <picture class="top-item__pictures">
            <source srcset="img/pictures/home-top-four-320.webp" type="image/webp" media="(max-width: 320px)">
            <source srcset="img/pictures/home-top-four-320.png" media="(max-width: 320px)">
            <source srcset="img/pictures/home-top-four-720.webp" type="image/webp" media="(max-width: 460px)">
            <source srcset="img/pictures/home-top-four-720.png" media="(max-width: 460px)">
            <source srcset="img/pictures/home-top-four-768.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="img/pictures/home-top-four-768.png" media="(max-width: 768px)">
            <source srcset="img/pictures/home-top-three-1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/home-top-three-1024.png" media="(max-width: 1150px)">
            <source srcset="img/pictures/home-top-four.webp" type="image/webp">
            <source srcset="img/pictures/home-top-four.png">
            <img class="top-item__picture top-item__picture_four" src="img/pictures/home-top-four.png" alt="На картинке изображен комод" loading="lazy">
          </picture>
          <a class="top-item__link top-item__link_desktop" href="#"><span class="top-item__catalog">В каталог</span><span class="btnNext top-item__arrow"></span></a>
        </div>
      </li>
      <li class="top-item site-top__item site-top__item_five">
        <div class="top-item__box top-item__box_five">
          <ul class="top-item__classification">
            <li class="top-item__elem"><a class="top-item__reference" href="#">Деревянные</a></li>
            <li class="top-item__elem"><a class="top-item__reference" href="#">Металлокаркас</a></li>
          </ul>
          <div class="top-item__flex">
            <h3 class="content-title top-item__subtitle">Стулья</h3>
            <a class="top-item__link top-item__link_mobile" href="#"><span class="btnNext top-item__arrow"></span></a>
          </div>
          <picture class="top-item__pictures">
            <source srcset="img/pictures/home-top-five-320.webp" type="image/webp" media="(max-width: 320px)">
            <source srcset="img/pictures/home-top-five-320.png" media="(max-width: 320px)">
            <source srcset="img/pictures/home-top-five-720.webp" type="image/webp" media="(max-width: 460px)">
            <source srcset="img/pictures/home-top-five-720.png" media="(max-width: 460px)">
            <source srcset="img/pictures/home-top-five-768.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="img/pictures/home-top-five-768.png" media="(max-width: 768px)">
            <source srcset="img/pictures/home-top-five-1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/home-top-five-1024.png" media="(max-width: 1150px)">
            <source srcset="img/pictures/home-top-five.webp" type="image/webp">
            <source srcset="img/pictures/home-top-five.png">
            <img class="top-item__picture top-item__picture_five" src="img/pictures/home-top-five.png" alt="На картинке изображены стулья" loading="lazy">
          </picture>
          <a class="top-item__link top-item__link_desktop" href="#"><span class="top-item__catalog">В каталог</span><span class="btnNext top-item__arrow"></span></a>
        </div>
      </li>
    </ul>
  </div>
</section>
