<section class="site-useful">
  <div class="container site-useful__container">
    <div class="site-useful__box">
      <h2 class="title-primary site-useful__title">
        Полезное
      </h2>
      <div class="site-useful__buttons site-useful__buttons_desktop">
        <div class="swiper-button-prev btnNext site-useful__prev"></div>
        <div class="swiper-button-next btnNext site-useful__next"></div>
      </div>
    </div>
    <div class="swiper site-useful__slider">
      <div class="swiper-wrapper site-useful__wrap">
        <article class="swiper-slide site-useful__slide">
          <picture class="site-useful__pictures">
            <source srcset="/img/pictures/home-useful-one.jpg" type="image/webp">
            <source srcset="/img/pictures/home-useful-one.jpg">
            <img class="site-useful__picture" src="/img/pictures/home-useful-one.jpg" alt="На картинке изображен апартековый диван “T-75”" height="101" loading="lazy">
          </picture>
          <div class="site-useful__indent">
            <h3 class="site-useful__heading">
              И&nbsp;нет сомнений, что сделанные на&nbsp;базе интернет-аналитики выводы представляют собой не&nbsp;что иное?
            </h3>
            <a class="button-border site-useful__link" href="#">
              Читать
            </a>
          </div>
        </article>
        <article class="swiper-slide site-useful__slide">
          <picture class="site-useful__pictures">
            <source srcset="/img/pictures/home-useful-two.jpg" type="image/webp">
            <source srcset="/img/pictures/home-useful-two.jpg">
            <img class="site-useful__picture" src="/img/pictures/home-useful-two.jpg" alt="На картинке изображен апартековый диван “T-75”" height="101" loading="lazy">
          </picture>
          <div class="site-useful__indent">
            <h3 class="site-useful__heading">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </h3>
            <a class="button-border site-useful__link" href="#">
              Читать
            </a>
          </div>
        </article>
        <article class="swiper-slide site-useful__slide">
          <picture class="site-useful__pictures">
            <source srcset="/img/pictures/home-useful-three.jpg" type="image/webp">
            <source srcset="/img/pictures/home-useful-three.jpg">
            <img class="site-useful__picture" src="/img/pictures/home-useful-three.jpg" alt="На картинке изображен апартековый диван “T-75”" height="101" loading="lazy">
          </picture>
          <div class="site-useful__indent">
            <h3 class="site-useful__heading">
              Ясность нашей позиции очевидна: укрепление и&nbsp;развитие внутренней структуры?
            </h3>
            <a class="button-border site-useful__link" href="#">
              Читать
            </a>
          </div>
        </article>
        <article class="swiper-slide site-useful__slide">
          <picture class="site-useful__pictures">
            <source srcset="/img/pictures/home-useful-four.jpg" type="image/webp">
            <source srcset="/img/pictures/home-useful-four.jpg">
            <img class="site-useful__picture" src="/img/pictures/home-useful-four.jpg" alt="На картинке изображен апартековый диван “T-75”" height="101" loading="lazy">
          </picture>
          <div class="site-useful__indent">
            <h3 class="site-useful__heading">
              Прежде всего, консультация с&nbsp;широким активом однозначно фиксирует необходимость распределения?
            </h3>
            <a class="button-border site-useful__link" href="#">
              Читать
            </a>
          </div>
        </article>
        <article class="swiper-slide site-useful__slide">
          <picture class="site-useful__pictures">
            <source srcset="/img/pictures/home-useful-five.jpg" type="image/webp">
            <source srcset="/img/pictures/home-useful-five.jpg">
            <img class="site-useful__picture" src="/img/pictures/home-useful-five.jpg" alt="На картинке изображен апартековый диван “T-75”" height="101" loading="lazy">
          </picture>
          <div class="site-useful__indent">
            <h3 class="site-useful__heading">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </h3>
            <a class="button-border site-useful__link" href="#">
              Читать
            </a>
          </div>
        </article>
      </div>
    </div>
    <div class="site-useful__buttons site-useful__buttons_mobile">
      <div class="swiper-button-prev btnNext site-useful__prev"></div>
      <div class="swiper-button-next btnNext site-useful__next"></div>
    </div>
  </div>
</section>
