// * // Font Weight // * //
$regularFontWeight: 400;
$semiboldFontWeight: 600;
$boldFontWeight: 700;
$blackFontWeight: 900;
// * // Font Size // * //
$primaryFontSize: 16px;
$secondFontSize: 10px;
$thirdFontSize: 12px;
$fourthFontSize: 14px;
$fifthFontSize: 18px;
$sixthFontSize: 20px;
$seventhFontSize: 24px;
$eighthFontSize: 32px;
$ninthFontSize: 36px;
$tenthFontSize: 48px;
$eleventhFontSize: 60px;
// * // Color // * //
$primaryColor: hsla(270, 83%, 65%, 1);
$primaryLightColor: hsla(270, 93%, 79%, 1);
$primaryShadeColor: hsla(270, 54%, 44%, 1);
$secondLightColor: hsla(274, 100%, 97%, 1);
$secondColor: hsla(274, 100%, 91%, 1);
$thirdColor: hsla(25, 100%, 59%, 1);
$thirdLightColor: hsla(36, 100%, 67%, 1);
$thirdShadeColor: hsla(14, 86%, 39%, 1);
$fourthColor: hsla(356, 100%, 71%, 1);
$fifthColor: hsla(83, 78%, 66%, 1);
$sixthColor: hsla(39, 48%, 68%, 1);
$seventhColor: hsla(0, 0%, 97%, 1);
$eighthColor: hsla(0, 0%, 92%, 1);
$ninthColor: hsla(0, 0%, 60%, 1);
$tenthColor: hsla(0, 0%, 40%, 1);
$eleventhColor: hsla(0, 0%, 20%, 1);
$twelvethColor: hsla(0, 0%, 0%, 0.2);
$ThirteenthColor: hsla(108, 100%, 91%, 1);
$fourteenthColor: hsla(47, 100%, 91%, 1);
$whiteColor: hsla(0, 0%, 100%, 1);
